# wish/config.yaml
# 祈愿模块配置文件

# 新版奖励配置格式：
# items:
#   <minecraft:item>:
#     probability: 概率
#     amount: 数量 (支持单值或范围 "1-3")
#     command: "/abc {player} {amount}" # 如果存在则执行命令，不直接 give 物品
#     subList: # 可选，继续使用相同格式
#       <minecraft:item>:
#         probability: ...

# 數據存儲配置
storage:
    # 存儲類型: yaml, sqlite (未來支持)
    type: "yaml"
    # 數據存儲目錄
    data_dir: "userdata"

history:
    max_size: 100 # 祈愿历史记录最大条数。当你使用yaml存储时不要设定太多，这会造成性能问题。
    expiration: 30d # 超过多久的记录会被清理

# 祈愿券配置
tickets:

    # deduct_mode:
    # flexible: 以次数抵扣，如： 券有10次，抽多少就减多少
    # fixed: 只能用于特定次数的祈愿券，如十连券
    
    - id: "Sigil of Stars"
      applicable_pools:
          - "StarPath"
          - "StarryMirage"
      deduct_count: 1
      deduct_mode: "flexible"

    - id: "Token of Crimson Vow"
      applicable_pools:
          - "OathOfTheRedRose"
      deduct_count: 1
      deduct_mode: "flexible"

    - id: "Dawnlight Slip"
      applicable_pools:
          - "StarPath"
          - "StarryMirage"
      deduct_count: 1
      deduct_mode: "flexible"

# 祈愿池配置
pools:
    # 星途
    StarPath:
        counts_name: "StarPath" # 如果所有祈愿池填写相同名即可共享计数
        max_count: 200
        cost:
            "1": 80
            "5": 400
        auto_cost: false
        items:
            minecraft:iron_ingot:
                probability: 25.0
                amount: 5
            minecraft:experience_bottle:
                probability: 20.0
                amount: 50
                command: "minecraft:xp add {player} {amount} points"
            minecraft:gold_ingot:
                probability: 18.0
                amount: 5
            minecraft:diamond:
                probability: 15.0
                amount: 2
            purified_water_canteen:
                probability: 12.0
            p_point:
                probability: 12.0
                amount: 5
                command: "scoreboard players add {player} p_point {amount}"
            minecraft:netherite_scrap:
                probability: 5.0
            potion_power:
                probability: 5.0
                command: "minecraft:effect give {player} strength 180 1"
            goety:recallfocus:
                probability: 2.0
            KirinOverlordBlazingArmor:
                probability: 0.246
        guarantee_items:
            KirinOverlordBlazingArmor:
                probability: 1

    # 星光如梦
    StarryMirage:
        limit_modes:
            count: 999
            time: 24h
            refresh_at_time: "00:00"
        duration:
            startDate: "2025-08-01T00:00:00Z"
            endDate: "2025-08-31T23:59:59Z"
        counts_name: "StarryMirage"
        max_count: 200
        cost:
            "1": 80
            "5": 400
        auto_cost: false
        items:
            minecraft:experience_bottle:
                probability: 20.0
                amount: 100
                command: "minecraft:xp add {player} {amount} points"
            minecraft:end_rod:
                probability: 18.0
                amount: 12
            minecraft:phantom_membrane:
                probability: 16.0
                amount: 3
            mysteryCardPack:
                probability: 16.0
                amount: 3
            minecraft:diamond:
                probability: 16.0
                amount: 3
            focusBag:
                probability: 5.0
            minecraft:nether_star:
                probability: 2.0
            iceologyfocus:
                probability: 1.0
            launchfocus:
                probability: 1.0
            star_amulet:
                probability: 1.0
            CelestineBreezeHelm:
                probability: 0.246
            SkywhisperBoots:
                probability: 0.246
            CloudspringAzureBlade:
                probability: 0.246
        guarantee_items:
            CelestineBreezeHelm:
                probability: 1
            SkywhisperBoots:
                probability: 1
            CloudspringAzureBlade:
                probability: 1

    # 红玫的誓约 (情人节)
    OathOfTheRedRose:
        limit_modes:
            count: 999
            time: 24h
            refresh_at_time: "00:00"
        duration:
            startDate: "2026-02-14T00:00:00Z"
            endDate: "2026-03-31T23:59:59Z"
        counts_name: "OathOfTheRedRose"
        max_count: 200
        cost:
            "1": 80
            "5": 400
        auto_cost: false
        items:
            minecraft:prismarine_crystals:
                probability: 20.0
                amount: 5
            minecraft:quartz:
                probability: 10.0
                amount: 5
            flower_pie:
                probability: 10.0
                amount: 3
            minecraft:enchanted_golden_apple:
                probability: 5.0
            minecraft:experience_bottle:
                probability: 20.0
                amount: 20
                command: "minecraft:xp add {player} {amount} points"
            minecraft:quartz_block:
                probability: 10.0
                amount: 10
            pink_cherry_sapling:
                probability: 5.0
            amethyst_chimes:
                probability: 3.0
            potion_revive:
                probability: 3.0
                command: "minecraft:effect give {player} instant_health 1 1"
            UnrivaledCrimsonFeatherBow:
                probability: 0.246
        guarantee_items:
            UnrivaledCrimsonFeatherBow:
                probability: 1

    # 微光之愿 (每日)
    GlimmeringPrayer:
        limit_modes:
            count: 1
            time: 1d
            refresh_at_time: "00:00"
        duration:
            startDate: "2025-01-01T00:00:00Z"
            endDate: "2099-12-31T23:59:59Z"
        counts_name: "GlimmeringPrayer"
        max_count: 100
        cost:
            "1": 0
        auto_cost: false
        items:
            bal:
                probability: 25.0
                amount: 5
                command: "eco give {player} {amount}"
            bal_high:
                probability: 20.0
                amount: 10
                command: "eco give {player} {amount}"
            bal_mid:
                probability: 10.0
                amount: 30
                command: "eco give {player} {amount}"
            bal_rich:
                probability: 5.0
                amount: 50
                command: "eco give {player} {amount}"
            bal_rare:
                probability: 2.0
                amount: 100
                command: "eco give {player} {amount}"
            bal_360:
                probability: 0.5
                amount: 360
                command: "eco give {player} {amount}"
            bal_1k:
                probability: 0.2
                amount: 1000
                command: "eco give {player} {amount}"
            bal_5k:
                probability: 0.1
                amount: 5000
                command: "eco give {player} {amount}"
            bal_10k:
                probability: 0.01
                amount: 10000
                command: "eco give {player} {amount}"
            xp_low:
                probability: 20.0
                amount: 20
                command: "minecraft:xp add {player} {amount} points"
            xp_high:
                probability: 10.0
                amount: 100
                command: "minecraft:xp add {player} {amount} points"
            ppoint:
                probability: 10.0
                amount: 5
                command: "scoreboard players add {player} p_point {amount}"
            op_equip:
                probability: 0.01
                subList:
                    CloudspringAzureBlade:
                        probability: 1
                    UnrivaledCrimsonFeatherBow:
                        probability: 1
                    KirinOverlordBlazingArmor:
                        probability: 1
            potions:
                probability: 20.0
                subList:
                    minecraft:speed:
                        probability: 1
                    minecraft:haste:
                        probability: 1
                    minecraft:strength:
                        probability: 1
                    minecraft:instant_health:
                        probability: 1
                    minecraft:jump_boost:
                        probability: 1
                    minecraft:regeneration:
                        probability: 1
                    minecraft:resistance:
                        probability: 1
                    minecraft:fire_resistance:
                        probability: 1
                    minecraft:water_breathing:
                        probability: 1
                    minecraft:invisibility:
                        probability: 1
                    minecraft:night_vision:
                        probability: 1
                    minecraft:health_boost:
                        probability: 1
                    minecraft:absorption:
                        probability: 1
                    minecraft:saturation:
                        probability: 1
                    minecraft:glowing:
                        probability: 1
                    minecraft:levitation:
                        probability: 1
                    minecraft:luck:
                        probability: 1
        guarantee_items:
            CloudspringAzureBlade:
                probability: 1
            UnrivaledCrimsonFeatherBow:
                probability: 1
            KirinOverlordBlazingArmor:
                probability: 1
